 <!doctype html>
<title>Test Client Web Page</title>
<meta charset="utf-8">
 <html>
    <body>
        <center>
        <br>
    Please input your user id and password
        <form action= '' method=post >
            <table border =1 cellspacing=0 >
                <tr><td aling=right>User ID:</td>
                <td><input type= text name=ID size=10></td></tr>
                <tr><td ALIGN=RIGHT>Password:</TD>
                <td><input type=password name=password size=8></td></tr>
            </table><p>
            <input type = Submit Value="Confirm" name="B1">
        </form>
        </center>
    </body>
</html>
